body,
span,
input {
    background-color: #011627 !important;
    color: #F7EBE8 !important
}

nav {
    background-color: #E54B4B !important;
}

.nav-link:hover,
.nav-link.active {
    color: #E54B4B !important;
}

nav .nav-link:hover,
nav .nav-link:focus {
    color: #1E1E24 !important;
}

.navbar-brand {
    font-weight: bold;
    user-select: none;
}

.nav-link {
    color: white;
    font-weight: 600;
    user-select: none;
}

.input-group-text {
    width: 38px;
    height: 38px;
    user-select: none;
}

#color_container div.col {
    padding-left: 0 !important;
}

input[type="color"] {
    height: 100%;
    width: 100%;
    padding: 0;

}

.form-check-input {
    background-color: #F7EBE8 !important;
}

.form-check-input:focus {
    border-color: rgb(247, 235, 232);
    box-shadow: none !important
}

.form-control:focus {
    box-shadow: none;
    border-color: #E54B4B;
}

.form-range {
    height: 100%;
}

.form-check-input:checked {
    border-color: #FFA987 !important;
    background-color: #FFA987 !important;
}

.form-check-label {
    user-select: none;
}

.nav-tabs .nav-item {
    width: 50%;
}

.nav-tabs .nav-item .nav-link {
    width: 100%;
}