body,
span,
input,
.navbar-brand,
.nav-link {
    color: #F7EBE8 !important;
}

.nav-link:hover,
.nav-link.active {
    color: #E54B4B !important;
}

nav .nav-link:hover,
nav .nav-link:focus {
    color: #1E1E24 !important;
}

body,
span,
input{
    background-color: #011627 !important;
}

nav{
    background-color: #E54B4B !important;
}

.form-check-input {
    background-color: #F7EBE8 !important;
}

.navbar-brand,
.nav-link {
    font-weight: bold;
}
input[type="color"],
iframe,
.form-range {
    height: 100%;
    width: 100%;
    padding: 0;
}

iframe{
    height: 85vh;
}
button:focus,
.form-control:focus,
.form-check-input:focus
 {
    box-shadow: none !important;
}

.form-check-input:focus {
    border-color: rgb(247, 235, 232);
}

button:focus,
.form-control:focus{
    border-color: #E54B4B !important;
}

.form-check-input:checked {
    border-color: #FFA987 !important;
    background-color: #FFA987 !important;
}

h6,
.navbar-brand,
.nav-link,
.form-check-label {
    user-select: none;
}
